<p-progressSpinner *ngIf="!loaded"></p-progressSpinner>
<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" *ngFor="let movie of movies; let i = index ">
      <mat-card class="mat-elevation-z4" >
        <mat-card-content>
        <a (click)="goToDetails(i)">
        <img mat-card-image src="{{ movie.poster }}">
        </a>
        </mat-card-content>
        <mat-card-header>
          <mat-card-title>{{movie.title}}</mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</div>
<div class="col-md-4" style="float:left; margin-top: 30px" *ngIf="notFound && loaded">
  <span>Movie Not Found , Please Try Anouther One</span>
</div>
